--extra-index-url https://developer.download.nvidia.com/compute/redist/cuda/10.0
nvidia-dali==0.14.0
flake8
pylint
mypy
pytest
pytest-cov
h5py
tensorboard
tqdm
graphviz
sklearn
nnabla
nnabla_ext_cuda101
networkx
mako