--extra-index-url https://developer.download.nvidia.com/compute/redist/
nvidia-dali-cuda100
flake8
pylint
mypy
pytest
pytest-cov
h5py
tensorboard
tqdm
graphviz
sklearn
nnabla
nnabla_ext_cuda102
networkx
mako
